<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home - TheHelpingApp{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="static\images\The-helping-app-logos.ico">
</head>
<body>
    <header>
        <h1>TheHelpingApp</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 TheHelpingApp</p>
    </footer>
    
</body>
</html>
