{% extends 'base.html' %}

{% block title %}Home - TheHelpingApp{% endblock %}

{% block content %}
<section>
    <h2>Welcome to TheHelpingApp</h2>
    <p>This is a basic home page using HTML and Flask.</p>
    <a href="{{ url_for('OrderDHA') }}" class="button">ORDER DHA</a>
    <a href="{{ url_for('OrderAssignment') }}" class="button">ORDER ASSIGNMENT</a>
    <a href="https://forms.gle/wtvg9DBRzohgKMvQ6" class="button">JOIN DEBATE COMMUNITY</a>
    <a href="https://www.instagram.com/thehelpingapp/" class="button" target="_blank">FOLLOW US ON INSTAGRAM</a>
</section>
{% endblock %}




